@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700');

body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.clickable {
  cursor: pointer;
}
.row {
  margin: 0 !important;
}
#logo-title {
  font-size: 23px;
  font-family: 'Sarabun', sans-serif;
}
.img-slider {
  margin-bottom: 30px;
}
.button-new {
  background: #1F7299 !important;
  border-color: #1F7299 !important;
}
.button-delete {
  background: #E57833 !important;
  border-color: #E57833 !important;
}
.pagination > .active > a
{
    color: white;
    background-color: #1F7299 !important;
    border: solid 1px #1F7299 !important;
}

.pagination > .active > a:hover
{
    background-color: #1F7299 !important;
    border: solid 1px #1F7299 !important;
}
.list-group > .active
{
    color: white;
    background-color: #1F7299 !important;
    border: solid 1px #1F7299 !important;
}
.list-group > .active:hover
{
    background-color: #1F7299 !important;
    border: solid 1px #1F7299 !important;
}
.link-to {
  color: #1F7299 !important;
}
